{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h3>Привет, я автор</h3>
  <p>
    Тут, наверное, нужно представиться, поэтому представляюсь - Артур Печенюк, 
    студент яндекс-практикума, пытающийся освоить бэкенд-разработку.
  </p>
  <p>Ссылочка на Github-аккаунт <a href="https://github.com/avpech">здесь</a></p>
  <p>
    А теперь я должен разместить информацию о себе, используя свои великолепные умения верстать фронтенд.
    И обязательно размещу, когда эти великолепные умения появятся.
  </p>
{% endblock %}