{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h3>Использованные технологии</h3>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Тут я должен рассказать, какими технологиями воспользовался, какие навыки помогли,
       с чем хорошо разобрался, а с чем не совсем хорошо.
    </p>
    <p>Что касается первого, то см. блок слева</p>
    <p>А главный навык - это умение читать то, что написано в уроках яндекс-практикума.
       И вне уроков яндекс-практикума. И вообще просто читать.
    </p>
    <p>Ну и последнее - с чем хорошо разобрался. Что тут сказать -
       по мере приобретения новых знаний увеличивается объем знаний,
       которые нужно приобрести.
       В какой именно момент можно сказать, что "хорошо разобрался"?
       Если же под "хорошо разобрался" подразумевается умение свободно
       и без подглядываний в теорию или примеры применять полученные знания на практике, то до этого еще далеко.
  </article>
</div>
{% endblock %}